.editorWrapper {
  position: relative;
  height: 100%;
}

.buttonFormat {
  position: absolute !important;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editorWrapper:hover .buttonFormat {
  opacity: 1;
}
